h3 {
  font-size: 10;
  color:blue;
}

.jumbotron {
  background-image: url( "../img/bats.jpg");
  color: purple;
}

button {
  background-image: url("../img/screamingleperchaun.jpg");
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 180px;

}
